<p>Rooms</p>
{{!-- {{# each rooms as |room|}}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{room.name}}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{room.description}}</p>
    </div>
    <img src="{{room.imageUrl}}" class="d-block user-select-none" alt="">
    <div class="card-body">
        <p class="card-text">{{room.owner.fullname}}</p>
    </div>
    <div class="card-body">
        <p>Reviews: </p>
        <a href="/{{_id}}">Show reviews</a>
        <a href="/{{_id}}">Edit</a>
        <a href="/r{{_id}}">Delete</a>
        <a href="/{{_id}}">Add review</a>
    </div>
</div>
{{/each}} --}}



{{!-- 
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 mt-5">
      <div class="card-body">
        <h5 class="card-title text-muted fs-3 text-center fw-bold">ROOM SUPERIOR</h5>
      <img src="/images/room1.jpeg" class="card-img mt-5" alt="...">
       <p class="card-text mt-5">Un propietario profesional actúa como una empresa y gestiona un número considerable de propiedades</p>
       <p class="card-text">Precio: $250</p>
       <p class="card-text">Alojamiento</p>
      </div>
      <div class="card-footer">
        <div>
        <a class="btn btn-success mb-2" href="/register">View</a>
        </div>
        <small class="text-info"><strong>updated 2 mins ago</strong> </small>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card h-100 mt-5">
      <div class="card-body">
        <h5 class="card-title text-muted fs-3 text-center fw-bold">ROOM DELUXE</h5>
      <img src="/images/room2.jpeg" class="card-img mt-5" alt="...">
       <p class="card-text mt-5">Un propietario profesional actúa como una empresa y gestiona un número considerable de propiedades</p>
       <p class="card-text">Precio: $350</p>
       <p class="card-text">Alojamiento</p>
      </div>
      <div class="card-footer">
        <div>
        <a class="btn btn-success mb-2" href="/register">View</a>
        </div>
        <small class="text-info"><strong>updated 7 mins ago</strong> </small>
      </div>
    </div>
  </div>
   <div class="col">
    <div class="card h-100 mt-5">
      <div class="card-body">
        <h5 class="card-title text-muted fs-3 text-center fw-bold">SUITE JUNIOR</h5>
      <img src="/images/room3.jpeg" class="card-img mt-5" alt="...">
       <p class="card-text mt-5">Un propietario profesional actúa como una empresa y gestiona un número considerable de propiedades</p>
       <p class="card-text">Precio: $300</p>
       <p class="card-text">Alojamiento</p>
      </div>
      <div class="card-footer">
        <div>
        <a class="btn btn-success mb-2" href="/register">View</a>
        </div>
        <small class="text-info"><strong>updated 1 mins ago</strong> </small>
      </div>
    </div>
  </div>
</div>
 --}}

