<div class='room'>
  <h4>
    {{foundRoom.name}}
  </h4>
  <p>
    Description: {{foundRoom.description}}
  </p>
  <p>
    Owner:
    <b>
      {{foundRoom.owner.fullName}}
    </b>
  </p>
  <hr />
  <div class='room-actions'>
    <nav class='room-actions-navbar navbar navbar-light bg-light'>
      <ul class='navbar-nav mr-auto room-actions'>
        <li class='nav-item'>
          <a class='nav-link' href="/room/edit/{{foundRoom._id}}">
            Edit
            {{#if errorMessage}}
              <p class='error-message'>
                {{errorMessage}}
              </p>
            {{/if}}
          </a>
        </li>
        <li class='nav-item'>
          <form action="/room/delete/{{foundRoom._id}}" method='POST'>
            <button
              class='btn btn-link text-danger'
              role='link'
              type='submit'
              name='op'
              value='Link 1'
            >
              Delete
            </button>
             {{#if errorDeletion}}
              <p class='error-message'>
                {{errorDeletion}}
              </p>
            {{/if}}
          </form>
        </li>
      </ul>
    </nav>
  </div>
</div>