<h1> Room details</h1>

<div class="room-card">

  <h2>Name: {{room.name}}</h2>
  <p>Description: {{room.description}}</p>
  <img class="room-img" src="{{room.imageUrl}}" alt="{{room.name}}" />

  <h4>Owner: {{room.owner.username}}</h4>

</div>