<h1>All rooms available</h1>
{{#each allRooms}}
<p>Name: {{name}}</p>
<p>Description: {{description}}</p>
<p>Image: {{imageUrl}}</p>
<p>Owner: {{owner.fullName}}</p>
<a href="/room-crud/edit-room/{{_id}}">Edit</a>
<a href="/room-crud/delete-room/{{_id}}">Delete</a>
{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}
<br><br>
{{/each}}