<h1>List of all rooms</h1>

{{#each rooms}}

<div class="room-card">

<h2>Name: {{name}}</h2>

<p>Description: {{description}}</p>

<img class="room-img" src="{{imageUrl}}" alt="{{name}}" />

<h4>Owner: {{owner.email}}</h4>

<a href="/rooms/{{_id}}">See more</a>
</div>

{{/each}}

<!--- data object{rooms:[{name},{}]} --->