<div class="nav">

<a href="/">Home</a>

</div>

<br><hr>

<div class="rooms">

{{#each roomsList}}
<img src="{{imageUrl}}" alt="{{name}}" height="150" width="200">
<p><a href="/rooms/{{_id}}">{{name}}</a></p>
<p>{{description}}</p>
<p>by {{owner.fullName}}</p>

<div class="delete">
<a href="/rooms/delete/{{_id}}">Delete</a>
</div>
<br>

{{/each}}

</div>