<h2 class="text-center my-4"> Dashboard {{#if user}}{{user.fullName}}{{/if}}</h1>

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
    <a class="navbar-brand" href="/">Home</a>
    </li>

    </ul>
  </div>
</nav>

<br></br>

<div class="rooms">
<div class="card-columns">

{{#each roomsList}}

  <div class="card">
    <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
    <div class="card-body">
      <h5 class="card-title"><a href="/rooms/{{_id}}">{{name}}</a></h5>
      <p class="card-text">{{description}}</p>
            <p><small class="text-muted my-5">
          by <cite title="Owner">{{owner.fullName}}</cite>
        </small></p>  
          <div class="card-footer">

        {{!-- We need the ../ to be able to access the user outside the each loop
Hide the buttons if the user is not logged --}}



{{#if ../user }}

    <a class="btn btn-info" href="/rooms/edit/{{_id}}" role="button">Edit</a>
    <a class="btn btn-danger" href="/rooms/delete/{{_id}}" role="button">Delete</a>
    <hr>
<a class="btn btn-primary" href="/rooms/add-review/{{_id}}">Add review</a>


    



{{/if}}
      </div>
    </div>
  </div>

{{/each}} 
</div>
</div>

</div>