<h2>Room details</h2>



    <h3>Name: {{name}}</h3>
    <h4>Owner: {{owner.email}}</h4>
    <p>Description: {{description}}</p>

<img src="{{imageUrl}}" alt="">


<br>
<a href="/rooms/{{_id}}/edit">Edit this room</a>
<br>
<a href="/rooms/{{_id}}/delete">DELETE room</a>
<br>
<a href="/rooms">Back to rooms list</a>

